.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-l {
    display: flex;
    align-items: center;
    justify-content: start;
}

.container {
    display: grid;
    grid-template-columns: 25vw 25vw;
    grid-template-rows: 10vh 25vh 65vh;
    grid-template-areas:    'title none'
                            'options options'
                            'bots bots';

    width: 100vw;
    height: 100vh;
}
.title {
    grid-area: title;

    display: flex;
    height: 50px;
    width: 25%;
}
.none {
    grid-area: none;

    display: flex;
    height: 50px;
    width: 75%;
}
.button-logout {
    background-color: red;
    height: 35px;
    padding: 2px 5px;
}
.button-logout:hover {
    background-color: rgb(216, 0, 0);
}
.title-main {
    height: 35px;
    padding: 5px;
}